<section id="posts" class="hero images-section is-light">
  <div class="hero-body">
    <h2 class="images-section-title">Highlighted Posts</h2>

    <div class="images-section-group is-higlights">
      {% assign filtered = site.posts | where: 'draft', false %}

      {% for post in filtered %}
      {%
        include components/post.html
          link=post.link
          img=post.img
          alt=post.alt
          title=post.title
          internal=post.internal
      %}
      {% endfor %}
    </div>

    <div class="has-text-centered">
      <button class="button has-icon is-light is-rounded is-outlined" onclick="expandView('posts')" role="button" aria-label="Expand Posts Button">
        <span class="icon is-large">
          <i class="fas fa-chevron-down"></i>
        </span>
      </button>
    </div>
  </div>
</section>
