<section class="hero images-section is-light">
  <div class="hero-body">
    <h2 class="images-section-title">Highlighted Posts</h2>

    <div class="images-section-group">
      {% assign filtered = site.posts | where: 'draft', false %}

      {% for post in filtered limit:3 %}
      {%
        include components/post.html
          link=post.link
          img=post.img
          alt=post.alt
          title=post.title
          internal=post.internal
      %}
      {% endfor %}
    </div>
    <div class="has-text-right"><a href="/posts">See more...</a></div>
  </div>
</section>
