<section class="hero images-section is-dark">
  <div class="hero-body">
    <h1 class="images-section-title">Highlighted Projects</h1>
    <div class="images-section-group">
      {% assign sorted = site.projects | sort: 'date' | reverse %}

      {% for project in sorted limit:3 %}
      {%
        include components/project.html
          link=project.link
          user=project.user
          repo=project.repo
          alt=project.alt
      %}
      {% endfor %}
    </div>
    <div class="has-text-right"><a href="/projects">See more...</a></div>
  </div>
</section>