<section class="hero skills-section is-dark">
  <div class="hero-body">
    <h2 class="skills-section-title">{% t highlighted_skills.title %}</h2>

    <div class="skills-section-group">

      {% assign sorted = site.skills | sort: 'progress' | reverse %}

      {% for skill in sorted limit:3 %}
      {%
        include components/skill.html
          name=skill.name
          progress=skill.progress
          categories=skill.categories
      %}
      {% endfor %}

    </div>
    <div class="has-text-right"><a href="/about-me">{% t highlighted_skills.see_more %}</a></div>
  </div>
</section>
