<section class="hero skills-section is-dark">
  <div class="hero-body">
    <h1 class="skills-section-title">Highlighted Skills</h1>
    <div class="skills-section-group">

      {% assign sorted = site.skills | sort: 'progress' | reverse %}

      {% for skill in sorted limit:3 %}

      <div class="skills-section-item card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="skills-section-title is-4">
                {{skill.name}}
              </p>
            </div>
          </div>
          <div class="content"><progress class="progress is-success" value="{{skill.progress}}" max="100">90%</progress></div>
        </div>
      </div>

      {% endfor %}

    </div>
    <div class="has-text-right"><a href="/about-me">See more...</a></div>
  </div>
</section>