---
layout: default
---

{%
  include introduction.html
    theme="success"
    title="About Me"
    subtitle="Hey you again! Hope you have liked what you saw up to here. <br /><br /> I'm a Full-stack developer, I work with a lot of things, you can check more about my skills <a href='/skill-tree'>here</a>, I love to learn, and teach, so I value a lot either soft-skills and hard-skills, if you want to reach me, check <a href='/mail-me'>here</a>."
%}

{% include job-timeline.html %}

{% include expanded/skills.html %}
