---
layout: default
---

{% capture title %}{% t mentorship.title %}{% endcapture %}
{% capture subtitle %}{% t mentorship.subtitle %}{% endcapture %}

{% include introduction.html
    theme="link"
    title=title
    subtitle=subtitle
    class="has-background bg-mentorship typewriter"
%}

<section class="hero mentorship-lists-section is-dark">
  <div class="hero-body mentorship-tree">
    <h2 class="mentorship-lists-section-title main">{% t mentorship.languages.title %}:</h2>

    <div class="mentorship-lists-section-group mentorship-tree-element">
      <div class="mentorship-lists-tree-categories">
        {% capture portuguese %}{% t global.languages.portuguese %}{% endcapture %}
        {% capture english %}{% t global.languages.english %}{% endcapture %}

        {% include components/mentorship-item.html item=portuguese %}
        {% include components/mentorship-item.html item=english %}
      </div>
    </div>
  </div>
</section>

<section class="hero mentorship-lists-section is-light">
  <div class="hero-body mentorship-tree">
    <h2 class="mentorship-lists-section-title main">{% t mentorship.techs.title %}:</h2>

    <div class="mentorship-lists-section-group mentorship-tree-element">
      <div class="mentorship-lists-tree-categories">
        {% include components/mentorship-item.html item="Python" %}
        {% include components/mentorship-item.html item="Javascript" %}
        {% include components/mentorship-item.html item="Go" %}
        {% include components/mentorship-item.html item="Ruby" %}
        {% include components/mentorship-item.html item="CSS3" %}
        {% include components/mentorship-item.html item="React" %}
        {% include components/mentorship-item.html item="Vue.js" %}
        {% include components/mentorship-item.html item="Express.js" %}
        {% include components/mentorship-item.html item="Ruby on Rails" %}
        {% include components/mentorship-item.html item="Flask" %}
        {% include components/mentorship-item.html item="Next.js" %}
        {% include components/mentorship-item.html item="Node.js" %}
        {% include components/mentorship-item.html item="Cloud Development" %}
        {% include components/mentorship-item.html item="Git" %}
      </div>
    </div>
  </div>
</section>

<section class="hero mentorship-lists-section is-dark">
  <div class="hero-body mentorship-tree">
    <h2 class="mentorship-lists-section-title main">{% t mentorship.stacks.title %}:</h2>

    <div class="mentorship-lists-section-group mentorship-tree-element">
      <div class="mentorship-lists-tree-categories">
        {% include components/mentorship-item.html item="Front-end" %}
        {% include components/mentorship-item.html item="Full-stack" %}
        {% include components/mentorship-item.html item="Back-End" %}
      </div>
    </div>
  </div>
</section>

<section class="hero mentorship-lists-section is-light">
  <div class="hero-body mentorship-tree">
    <h2 class="mentorship-lists-section-title main">{% t mentorship.objectives.title %}:</h2>

    <div class="mentorship-lists-section-group mentorship-tree-element">
      <div class="mentorship-lists-tree-categories">
        {% capture depth_techs_introduction %}{% t mentorship.objectives.list.depth_techs_introduction %}{% endcapture %}
        {% capture professional_improvement %}{% t mentorship.objectives.list.professional_improvement %}{% endcapture %}
        {% capture emulate_real_life_situations %}{% t mentorship.objectives.list.emulate_real_life_situations %}{% endcapture %}
        {% capture learn_good_practices_and_patterns %}{% t mentorship.objectives.list.learn_good_practices_and_patterns %}{% endcapture %}
        {% capture know_how %}{% t mentorship.objectives.list.know_how %}{% endcapture %}

        {% include components/mentorship-item.html item=depth_techs_introduction %}
        {% include components/mentorship-item.html item=professional_improvement %}
        {% include components/mentorship-item.html item=emulate_real_life_situations %}
        {% include components/mentorship-item.html item=learn_good_practices_and_patterns %}
        {% include components/mentorship-item.html item=know_how %}
      </div>
    </div>
  </div>
</section>

<section class="hero mentorship-lists-section is-dark">
  <div class="hero-body mentorship-tree">
    <h2 class="mentorship-lists-section-title main">{% t mentorship.services.title %}:</h2>

    <div class="mentorship-lists-section-group mentorship-tree-element">
      <div class="mentorship-lists-tree-categories">
        {% capture hands_on_challenges %}{% t mentorship.services.list.hands_on_challenges %}{% endcapture %}
        {% capture code_review %}{% t mentorship.services.list.code_review %}{% endcapture %}
        {% capture dojos %}{% t mentorship.services.list.dojos %}{% endcapture %}
        {% capture lessons %}{% t mentorship.services.list.lessons %}{% endcapture %}
        {% capture pair_programming %}{% t mentorship.services.list.pair_programming %}{% endcapture %}
        {% capture post_content_generation %}{% t mentorship.services.list.post_content_generation %}{% endcapture %}

        {% include components/mentorship-item.html item=hands_on_challenges %}
        {% include components/mentorship-item.html item=code_review %}
        {% include components/mentorship-item.html item=dojos %}
        {% include components/mentorship-item.html item=lessons %}
        {% include components/mentorship-item.html item=pair_programming %}
        {% include components/mentorship-item.html item=post_content_generation %}
      </div>
    </div>
  </div>
</section>

<div class="hero mentorship-lists-section is-light">

  <div class="hero-body mentorship-tree">
    <h2 class="mentorship-lists-section-title main">{% t mentorship.examples.title %}:</h2>

    <ul class="mentorship-list">
      {% for mentorship in site.mentorship %}
      <li class="mentorship-list-item">
        <a href="{{ mentorship.url }}" target="_blank">{{ mentorship.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<section class="hero is-info">
  <div class="hero-body">
    <h2 class="title">
      {% t mentorship.contact.title %}
    </h2>

    <h2 class="subtitle">
      {% t mentorship.contact.subtitle %} <br />
    </h2>

    <button class="button is-primary is-outlined is-medium is-fullwidth" onclick="mailMe('{{site.email}}')">
      {% t mentorship.contact.contact_me %}
    </button>
  </div>
</section>

<script src="{{ "/assets/js/mentorship.js"| prepend: site.baseurl_root }}"></script>
