---
layout: resume
title: "Resume"
---
{% capture hard_javascript %}{% t resume.skills.hard.javascript %}{% endcapture %}
{% capture hard_react_js %}{% t resume.skills.hard.react_js %}{% endcapture %}
{% capture hard_vue_js %}{% t resume.skills.hard.vue_js %}{% endcapture %}
{% capture hard_node_js %}{% t resume.skills.hard.node_js %}{% endcapture %}
{% capture hard_express_js %}{% t resume.skills.hard.express_js %}{% endcapture %}
{% capture hard_mocha_chai_js %}{% t resume.skills.hard.mocha_chai_js %}{% endcapture %}
{% capture hard_jest %}{% t resume.skills.hard.jest %}{% endcapture %}
{% capture hard_scss %}{% t resume.skills.hard.scss %}{% endcapture %}
{% capture hard_sql %}{% t resume.skills.hard.sql %}{% endcapture %}
{% capture hard_postgre_sql %}{% t resume.skills.hard.postgre_sql %}{% endcapture %}
{% capture hard_mongo_db %}{% t resume.skills.hard.mongo_db %}{% endcapture %}
{% capture hard_golang %}{% t resume.skills.hard.golang %}{% endcapture %}
{% capture hard_python %}{% t resume.skills.hard.python %}{% endcapture %}
{% capture hard_flask %}{% t resume.skills.hard.flask %}{% endcapture %}
{% capture hard_ruby %}{% t resume.skills.hard.ruby %}{% endcapture %}
{% capture hard_ruby_on_rails %}{% t resume.skills.hard.ruby_on_rails %}{% endcapture %}
{% capture hard_r %}{% t resume.skills.hard.r %}{% endcapture %}
{% capture hard_git %}{% t resume.skills.hard.git %}{% endcapture %}
{% capture hard_agile %}{% t resume.skills.hard.agile %}{% endcapture %}
{% capture hard_webpack %}{% t resume.skills.hard.webpack %}{% endcapture %}
{% capture hard_docker %}{% t resume.skills.hard.docker %}{% endcapture %}
{% capture hard_linux %}{% t resume.skills.hard.linux %}{% endcapture %}
{% capture hard_rest %}{% t resume.skills.hard.rest %}{% endcapture %}
{% capture hard_aws %}{% t resume.skills.hard.aws %}{% endcapture %}
{% capture hard_clean_code %}{% t resume.skills.hard.clean_code %}{% endcapture %}
{% capture hard_statistics %}{% t resume.skills.hard.statistics %}{% endcapture %}
{% capture hard_math %}{% t resume.skills.hard.math %}{% endcapture %}
{% capture hard_data_visualization %}{% t resume.skills.hard.data_visualization %}{% endcapture %}
{% capture hard_cloud_engineering %}{% t resume.skills.hard.cloud_engineering %}{% endcapture %}

{% capture soft_conflict_resolution %}{% t resume.skills.soft.conflict_resolution %}{% endcapture %}
{% capture soft_team_work %}{% t resume.skills.soft.team_work %}{% endcapture %}
{% capture soft_mentoring %}{% t resume.skills.soft.mentoring %}{% endcapture %}
{% capture soft_self_taught %}{% t resume.skills.soft.self_taught %}{% endcapture %}
{% capture soft_feedback_exchange %}{% t resume.skills.soft.feedback_exchange %}{% endcapture %}
{% capture soft_non_violent_communication %}{% t resume.skills.soft.non_violent_communication %}{% endcapture %}
{% capture soft_ownership %}{% t resume.skills.soft.ownership %}{% endcapture %}
{% capture soft_proactive %}{% t resume.skills.soft.proactive %}{% endcapture %}
{% capture soft_critical_thinking %}{% t resume.skills.soft.critical_thinking %}{% endcapture %}
{% capture soft_storytelling %}{% t resume.skills.soft.storytelling %}{% endcapture %}
{% capture soft_detail %}{% t resume.skills.soft.detail %}{% endcapture %}
{% capture soft_business_acumen %}{% t resume.skills.soft.business_acumen %}{% endcapture %}

{% capture email %}{% t resume.email %}{% endcapture %}
{% capture site_name %}{% t resume.site %}{% endcapture %}

<h1>
  {% t resume.name %}
</h1>

<main class="columns pl-5">
  <div class="column is-half">
    <h4>{% t resume.titles.personal_info %}:</h4>
    <p class="pl-1">{% t resume.from %}.</p>
    <p class="pl-1">{% t resume.age %} {% t resume.age_suffix %}.</p>
  </div>

  <div class="column is-half">
    <h4>{% t resume.titles.contact_info %}:</h4>
    <p class="pl-1"><strong>{% t resume.strongs.mobile %}:</strong> {% t resume.mobile %}</p>
    <p class="pl-1"><strong>{% t resume.strongs.e_mail %}:</strong> <a href="mailto:{{ email }}">{{ email }}</a></p>
    <p class="pl-1"><strong>{% t resume.strongs.site %}:</strong> <a href="{{ site_name }}">{{ site_name }}</a></p>
  </div>
</main>

<section>
  <h2 class="underlined">
    {% t resume.titles.personal_description %}:
  </h2>

  <p class="description-line indent-5">
    {% t resume.descriptions.line_01 %}
  </p>
  <p class="description-line indent-5">
    {% t resume.descriptions.line_02 %}
  </p>
  <p class="description-line indent-5">
    {% t resume.descriptions.line_03 %}
  </p>
</section>

<section>
  <h2 class="underlined">
    {% t resume.titles.graduation %}:
  </h2>

  {% assign graduations_sorted = site.graduations | reverse %}

  {% for graduation in graduations_sorted %}
  <p class="capitalized pl-2">
    <strong>{{ graduation.title[site.lang] }}</strong>
    {% if graduation.institution %}<span class="underlined">{{ graduation.institution }}</span>, {% endif %} {% t resume.graduation_suffix %} {{ graduation.end }}
  </p>
  {% endfor %}
</section>

<section>
  <h2 class="underlined">
    {% t resume.titles.qualifications %}:
  </h2>

  {% assign qualifications_sorted = site.qualifications | reverse %}

  <div class="columns pl-5">
  {% for qualification in qualifications_sorted %}
    <div class="column">
      <p class="capitalized pl-2 card is-flex-container is-column">
        <strong>{{ qualification.title[site.lang] }}</strong>
        {% if qualification.institution %}
          <span class="underlined small pl-2">{{ qualification.institution }}</span>
        {% endif %}
        <span class="underlined small pl-2">{% t resume.qualification_suffix %} {{ qualification.end }}</span>
      </p>
    </div>
  {% endfor %}
  </div>
</section>

<section>
  <h2 class="underlined">
    {% t resume.titles.hard_skills %}:
  </h2>

  <div class="columns pl-5">
    <div class="column is-fullwidth is-row">
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_javascript }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_react_js }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_vue_js }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_node_js }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_express_js }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_mocha_chai_js }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_jest }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_scss }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_sql }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_postgre_sql }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_mongo_db }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_golang }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_python }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_flask }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_ruby }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_ruby_on_rails }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_r }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_git }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_agile }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_webpack }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_docker }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_linux }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_rest }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_aws }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_clean_code }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_statistics }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_math }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_data_visualization }}</strong></p>
      <p class="capitalized pl-1 chip is-hard"><strong>{{ hard_cloud_engineering }}</strong></p>
    </div>
  </div>
</section>

<section>
  <h2 class="underlined">
    {% t resume.titles.soft_skills %}:
  </h2>

  <div class="columns pl-5">
    <div class="column is-fullwidth is-row">
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_conflict_resolution }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_team_work }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_mentoring }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_self_taught }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_feedback_exchange }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_non_violent_communication }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_ownership }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_proactive }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_critical_thinking }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_storytelling }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_detail }}</strong></p>
      <p class="capitalized pl-1 chip is-soft"><strong>{{ soft_business_acumen }}</strong></p>
    </div>
  </div>
</section>

<section class="experience-section">
  <h2 class="underlined">
    {% t resume.titles.work_experience %}:
  </h2>

  <div>
    {% assign sorted_jobs = site.jobs | reverse %}
    <table>
      <tr class="columns pl-5">
        {% for job in sorted_jobs %}
          <td class="job-column column ph-5 is-half">
            <h4>
              {{job.name[site.lang]}} <br />
              <a class="pl-1" href="{{job.company_ref}}">{{job.company_name}}</a>
            </h4>

            <p class="short-description pl-05 indent-5">
              {% if job.short_description %}
              {{ job.short_description[site.lang] }}
              {% else %}
              {{ job.description[site.lang] }}
              {% endif %}
            </p>

            <small class="pl-05">
              <strong>{% t job_timeline.from %}:</strong> {{ job.start_date }} -
              <strong>{% t job_timeline.to %}:</strong>
              {% if job.end_date != '~' %}
              {{ job.end_date }}
              {% else %}
              {% t job_timeline.final_date %}
              {% endif %}
              </small>
          </td>
        {% endfor %}
      </tr>
    </table>
  </div>
</section>
