<footer class="footer">
  <div class="content has-text-centered">
    <p class="mb-0">
      {% t footer.made_by_01 %} <strong>@joaomarcuslf</strong>.
    </p>

    <span class="icon-text mt-5 px-15 is-flex-container has-space-evenly">
      <a href="{{site.github}}" target="blank">
        <span class="is-hidden">Github</span>
        <span class="icon is-large">
          <span class="fab fa-github fa-lg">
          </span>
        </span>
      </a>

      <a href="{{site.linkedin}}" target="blank">
        <span class="is-hidden">Linkedin</span>
        <span class="icon is-large">
          <span class="fab fa-linkedin fa-lg">
          </span>
        </span>
      </a>

      <a href="{{site.medium}}" target="blank">
        <span class="is-hidden">Medium</span>
        <span class="icon is-large">
          <span class="fab fa-medium fa-lg">
          </span>
        </span>
      </a>

      <a href="{{site.codewars}}" target="blank">
        <span class="is-hidden">Codewars</span>
        <span class="icon is-large">
          <span class="fas fa-code fa-lg">
          </span>
        </span>
      </a>

      <a href="{{site.twitter}}" target="blank">
        <span class="is-hidden">Twitter</span>
        <span class="icon is-large">
          <span class="fab fa-twitter fa-lg">
          </span>
        </span>
      </a>
    </>
  </div>
</footer>
