<script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

        const urlInfo = window.location.href.split('/')

        const activeRouter = `${urlInfo[3] || 'home'}-navitem`;

        const elmList = document.getElementsByClassName(activeRouter);

        for(let i = 0; i < elmList.length; i++) {
            const elm = elmList[i];

            elm.classList.toggle('is-active');
        }
    });
</script>