<script>
    document.addEventListener('DOMContentLoaded', function() {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function(el) {
                el.addEventListener('click', function() {

                    var target = el.dataset.target;
                    var $target = document.getElementById(target);

                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

        var urlInfo = window.location.href.split('/')

        var activeRouter = (urlInfo[3] || 'home') + '-navitem';

        var elmList = document.getElementsByClassName(activeRouter);

        for(var i = 0; i < elmList.length; i++) {
            var elm = elmList[i];

            elm.classList.toggle('is-active');
        }
    });
</script>
