<section class="hero skills-section is-dark">
  <div class="hero-body skill-tree">
    <h2 class="skills-section-title">{% t skills.title %}</h2>

    {% assign sorted = site.skills | sort: 'progress' | reverse %} {% for skill
    in sorted %}
    <div
      id="{{skill.name}}"
      class="skills-section-group skill-tree-element is-closed"
    >
      {% include components/skill.html name=skill.name progress=skill.progress
      categories=skill.categories %}

      <div class="skills-tree-categories is-highlight">
        {% for category in skill.categories %}
        <div class="skills-section-item card is-mini">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="skills-section-title is-4">{{category}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="has-text-centered">
        <button
          class="button has-icon is-light is-rounded is-outlined"
          onclick="expandSkillTree('{{skill.name}}')"
          role="button"
          aria-label="Expand Skill Button"
        >
          <span class="icon is-large">
            <i class="fas fa-chevron-down"></i>
          </span>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
