@import "../settings/settings";

@import "../tools/truncate";
@import "../tools/opacity-animate";
@import "../tools/medias-queries/all";
@import "../tools/is-even";
@import "../tools/not-last";

@import "../generics/vertical-center-container";
@import "../generics/horizontal-center-container";

.skills-section {
  .skill-tree {
    padding: 3rem 0 0 0;
  }

  .hero-body > * {
    padding: 0.5rem 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba($accent, 0.25);
  }

  .skills-section-group > .skills-section-item {
    @include is-even {
      &.card {
        background-color: rgba($tertiary, 0.25);
      }
    }
  }

  .skills-section-title {
    @extend .title;

    font-size: 1.7rem;
    margin-bottom: 0 !important;
  }

  .skills-section-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

    @include for-tablet-landscape-and-down {
      flex-direction: row;
    }

    &.skill-tree-element {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2rem 0;

      @include is-odd {
        background-color: $quaternary;
      }

      .skills-tree-categories {
        opacity: 0.7;
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        @include for-tablet-landscape-and-down {
          flex-wrap: wrap;
        }

        .is-mini {
          padding: 0 1rem !important;
        }

        .card-content,
        skill-item {
          padding: 1rem;
        }

        .skills-section-title {
          font-size: 1rem;
        }
      }

      &.is-closed {
        .skills-tree-categories.is-highlight {
          max-height: 0;
        }
      }
    }
  }

  .skills-section-item {
    @extend .horizontal-center-container;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &.main-skill {
      width: 100%;
      max-width: unset;
      padding: 0.5rem !important;

      &.card {
        background-color: rgba($secondary, 0.75);

        * {
          color: $quaternary !important;
          border-color: $quaternary !important;
        }
      }

      .card-content {
        display: flex;
        padding: 0.5rem 1rem;

        .media {
          flex: 1;
          margin-bottom: 0;
        }

        .content {
          flex: 2;
          margin-bottom: 0;

          align-items: center;
          justify-content: center;
        }

        .tag {
          padding: 1rem;
          border: 1px solid $quinary;
          background-color: rgba($quinary, 0.15);
        }

        .button {
          margin: 0 0.25rem;
        }
      }
    }

    .tags {
      display: flex;
      justify-content: center;
    }

    .card-content {
      padding: 1rem 1.5rem;
    }

    .media-content {
      display: flex;
      justify-content: center;
      align-items: center;

      .skills-section-title {
        width: 100%;
        margin-left: -1.5rem;
      }
    }

    @include for-tablet-landscape-up {
      max-width: 30%;
      width: 32%;
      padding: 0.5rem;
    }

    opacity: 0.8;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
    margin: 0.5rem;

    @include for-desktop-up {
      width: 32%;

      padding: 0.5rem;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    @include for-tablet-landscape-and-down {
      opacity: 1;
      width: 50%;

      @include not-last {
        padding-bottom: 1.5rem;

        @include is-even {
          padding-left: 0.5rem;
        }

        @include is-odd {
          padding-right: 0.5rem;
        }
      }
    }

    @include for-tablet-portrait-and-down {
      width: 100%;
    }

    &:hover {
      @include opacity-animate(0.1s, 0.8, 1);
    }

    .card-content,
    .skill-item {
      width: 100%;
    }
  }

  @include dark-section;
  @include light-section;
}
