@import "../settings/settings";

.table-of-contents {
  position: fixed;
  right: 0;

  background-color: $secondary;
  border-left: 2px solid $primary;
  border-top: 2px solid $primary;
  border-bottom: none;
  border-top-left-radius: 5%;
  background-color: $primary;

  .content {
    padding: 1rem;
    background-color: $secondary;
  }

  a {
    padding-left: 0.75rem;
    color: $quinary;
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
  }

  transition: bottom 0.5s;

  .button {
    background-color: transparent !important;
    border-color: transparent !important;
    border: unset !important;
    box-shadow: none !important;
  }

  &.is-invisible {
    bottom: -20vh;
    .content {
      display: none;
    }
  }

  &.is-minimized {
    bottom: 0;
    .content {
      display: none;
    }
  }

  &.is-maximized {
    bottom: 0vh;
  }
}
