---
layout: resume
title: "Resume"
---

<h1>
  {{ site.resume.name }}
</h1>

<main class="columns pl-5">
  <div class="column is-half">
    <h4>Personal Info:</h4>
    <p class="pl-1">{{ site.resume.en.from }}.</p>
    <p class="pl-1">{{ site.resume.age }} years old.</p>
  </div>

  <div class="column is-half">
    <h4>Contact Info:</h4>
    <p class="pl-1"><strong>Mobile:</strong> {{ site.resume.mobile }}</p>
    <p class="pl-1"><strong>E-mail:</strong> <a href="mailto:{{ site.resume.email }}">{{ site.resume.email }}</a></p>
    <p class="pl-1"><strong>Site:</strong> <a href="{{ site.resume.site }}">{{ site.resume.site }}</a></p>
  </div>
</main>

<section>
  <h2 class="underlined">
    Personal Description:
  </h2>

  <p class="description-line">
    I am a software developer with a focus on Web systems, I have been working with the web since 2014 when I started doing small jobs with websites, and digital portals, after that I went deeper into development following a Full-stack trail, having experience using Ruby and Node.js on the back-end, and for the front-end I've worked with React / React Native, AngularJS (1.x), Angular 4 and Vue.js. I also have experience in developing api and generating graph reports with Python and R for BI and Data Science areas. <br />
  </p>
  <p class="description-line">
    I also have experience in using Linux and MacOS as operating systems, Git for versioning and have worked with agile methodologies: Scrum, Kanban, and XP. <br />
  </p>
  <p class="description-line">
    I am committed to learning, and I like to keep myself updated with the best practices, and with future technologies.
  </p>
</section>

<section>
  <h2 class="underlined">
    Graduation:
  </h2>

  {% assign sorted = site.graduations | reverse %}

  {% for graduation in sorted %}
  <p class="capitalized pl-2">
    <strong>{{ graduation.title_en }}</strong>.
    {% if graduation.institution %}<span class="underlined">{{ graduation.institution }}</span>, {% endif %} ended at {{ graduation.end }}
  </p>
  {% endfor %}
</section>

<section>
  <h2 class="underlined">
    Qualifications:
  </h2>

  {% assign sorted = site.qualifications | reverse %}

  <div class="columns pl-5">
  {% for qualification in sorted %}
    <div class="column">
      <p class="capitalized pl-2 card">
        <strong>{{ qualification.title_en }}</strong>. <br />
        {% if qualification.institution %}
          <span class="underlined small pl-2">{{ qualification.institution }}</span><br />
        {% endif %}
        <span class="underlined small pl-2">Ended at {{ qualification.end }}</span>

      </p>
    </div>
  {% endfor %}
  </div>
</section>

<section>
  <h2 class="underlined">
    Hard Skills:
  </h2>

  <div class="columns pl-5">
    <div class="column is-fullwidth is-row">
      {% for skill in site.resume.skills.hard.en %}
      <p class="capitalized pl-1 chip is-hard">
        <strong>{{ skill }}</strong>
      </p>
      {% endfor %}
    </div>
  </div>

  <br />
</section>

<section>
  <h2 class="underlined">
    Soft Skills:
  </h2>

  <div class="columns pl-5">
    <div class="column is-fullwidth is-row">
      {% for skill in site.resume.skills.soft.en %}
      <p class="capitalized pl-1 chip is-soft">
        <strong>{{ skill }}</strong>
      </p>
      {% endfor %}
    </div>
  </div>

  <br />
</section>

<section class="experience-section">
  <h2 class="underlined">
    Work experience:
  </h2>

  <div>
    {% assign sorted = site.jobs | reverse %}
    <table>
      <tr class="columns pl-5">
        {% for job in sorted %}
          <td class="job-column column ph-5 is-half">
            <h4>
              {{job.name_en}} <br />
              <a class="pl-1" href="{{job.company_ref}}">{{job.company_name}}</a>
            </h4>

            <br />

            <p class="pl-1 indent-5">
              {% if job.short_description %}
              {{ job.short_description.en }}
              {% else %}
              {{ job.description }}
              {% endif %}
            </p>

            <br />

            <small class="pl-1">
              <strong>From:</strong> {{ job.start_date }} -
              <strong>To:</strong>
              {% if job.end_date != '~' %}
              {{ job.end_date }}
              {% else %}
              Present
              {% endif %}
              </small>
          </td>
        {% endfor %}
      </tr>
    </table>
  </div>
</section>
