---
layout: resume
title: "Currículo"
---

<h1>
  {{ site.resume.name }}
</h1>

<main class="columns pl-5">
  <div class="column is-half">
    <h4>Informações Pessoais:</h4>
    <p class="pl-1">{{ site.resume.pt.from }}.</p>
    <p class="pl-1">{{ site.resume.age }} anos.</p>
  </div>

  <div class="column is-half">
    <h4>Contato:</h4>
    <p class="pl-1"><strong>Mobile:</strong> {{ site.resume.mobile }}</p>
    <p class="pl-1"><strong>E-mail:</strong> <a href="mailto:{{ site.resume.email }}">{{ site.resume.email }}</a></p>
    <p class="pl-1"><strong>Site:</strong> <a href="{{ site.resume.site }}">{{ site.resume.site }}</a></p>
  </div>
</main>

<section>
  <h2 class="underlined">
    Descrição Pessoal:
  </h2>

  <p class="description-line">
    Sou desenvolvedor de software com foco em sistemas Web, trabalho com web desde 2014 quando comecei a fazer pequenos trabalhos com sites, e portais digitais, após isso fui me aprofundando em desenvolvimento seguindo uma trilha Full-stack, tendo experiência com o uso de Ruby e Node.js no back-end, e para o front-end já trabalhei com React/React Native, AngularJS(1.x), Angular 4 e Vue.js. Também possuo experiência em desenvovler api e geração de relatórios de gráficos com Python e R para as áreas BI e Data Science. <br />
  </p>
  <p class="description-line">
    Tenho também experiência em utilizar Linux e MacOS como sistemas operacionais, Git para versionamento e já trabalhei com as metodologias ágeis: Scrum, Kanban, e XP. <br />
  </p>
  <p class="description-line">
    Sou empenhado em aprender, e gosto de me manter sempre atualizado com as melhores práticas, e com tecnologias futuras.
  </p>
</section>

<section>
  <h2 class="underlined">
    Graduações:
  </h2>

  {% assign sorted = site.graduations | reverse %}

  {% for graduation in sorted %}
  <p class="capitalized pl-2">
    <strong>{{ graduation.title_pt }}</strong>.
    {% if graduation.institution %}<span class="underlined">{{ graduation.institution }}</span>, {% endif %} terminada em {{ graduation.end }}
  </p>
  {% endfor %}
</section>

<section>
  <h2 class="underlined">
    Cursos Complementares:
  </h2>

  {% assign sorted = site.qualifications | reverse %}

  <div class="columns pl-5">
  {% for qualification in sorted %}
    <div class="column">
      <p class="capitalized pl-2 card">
        <strong>{{ qualification.title_pt }}</strong>. <br />
        {% if qualification.institution %}
          <span class="underlined small pl-2">{{ qualification.institution }}</span><br />
        {% endif %}
        <span class="underlined small pl-2">Terminada em {{ qualification.end }}</span>

      </p>
    </div>
  {% endfor %}
  </div>
</section>

<section>
  <h2 class="underlined">
    Hard Skills:
  </h2>

  <div class="columns pl-5">
    <div class="column is-fullwidth is-row">
      {% for skill in site.resume.skills.hard.pt %}
      <p class="capitalized pl-1 chip is-hard">
        <strong>{{ skill }}</strong>
      </p>
      {% endfor %}
    </div>
  </div>

  <br />
</section>

<section>
  <h2 class="underlined">
    Soft Skills:
  </h2>

  <div class="columns pl-5">
    <div class="column is-fullwidth is-row">
      {% for skill in site.resume.skills.soft.pt %}
      <p class="capitalized pl-1 chip is-soft">
        <strong>{{ skill }}</strong>
      </p>
      {% endfor %}
    </div>
  </div>

  <br />
</section>

<section class="experience-section">
  <h2 class="underlined">
    Experiência Profissional:
  </h2>

  <div>
    {% assign sorted = site.jobs | reverse %}
    <table>
      <tr class="columns pl-5">
        {% for job in sorted %}
          <td class="job-column column ph-5 is-half">
            <h4>
              {{job.name_pt}} <br />
              <a class="pl-1" href="{{job.company_ref}}">{{job.company_name}}</a>
            </h4>

            <br />

            <p class="pl-1 indent-5">
              {% if job.short_description %}
              {{ job.short_description.pt }}
              {% else %}
              {{ job.description }}
              {% endif %}
            </p>

            <br />

            <small class="pl-1">
              <strong>De:</strong> {{ job.start_date }} -
              <strong>Até:</strong>
              {% if job.end_date != '~' %}
              {{ job.end_date }}
              {% else %}
              Presente
              {% endif %}
              </small>
          </td>
        {% endfor %}
      </tr>
    </table>
  </div>
</section>
