@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-Medium.ttf");
}

body {
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-family: Montserrat, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

p, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1, h2 {
    padding: 0;
    margin: 0;
    padding-bottom: .25rem;
}

section {
    padding: .5rem 0;
}

.main {
    max-width: 80vw;
    min-width: 794px;
    padding: 10px 20px;
}

.columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.is-half {
    width: 50%;
}

.pl-1 {
    padding-left: 1.1rem;
}

.pl-2 {
    padding-left: 1.2rem;
}

.pr-05 {
    padding-right: .5rem;
}

.ph-5 {
    padding: 1.5rem 0;
}

.underlined {
    text-decoration: underline;
}

.capitalized {
    text-transform: capitalize;
}

.flex-right {
    margin-left: 60%;
}

.job-column {
    width: calc(50% - .5rem);
}

.job-column:nth-child(odd) {
    margin-right: .5rem;
}

.job-column:nth-child(even) {
    margin-left: .5rem;
}

.description-line {
    padding-bottom: .5rem;
}

@page{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}