@import "settings/settings";

.content ul {
  list-style: none !important;
}

.fa-lg {
  font-size: 2.5em;
}

.px-15 {
  padding-left: 15%;
  padding-right: 15%;
}

pre.is-hljs {
  background-color: unset;
}
