@import "../settings/settings";

@import "../tools/medias-queries/all";

.hero {
  &.has-background {
    min-height: 65vh;
    display: flex;

    &.is-mini {
      min-height: 35vh;
    }

    .hero-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 760px;

        > * {
          background-color: rgba($tertiary, .1);
          font-weight: 500;
          border-radius: 5px;

          width: fit-content;
          line-height: 1.3rem;
          padding: 5px;

          font-size: 1.2rem;
        }
      }
    }

    $opacity-value: 0.85;

    &.bg-home {
      background: url("/images/background-home.webp") no-repeat center center;
      background-size: cover;

      .hero-body {
        background-color: rgba($senary, $opacity-value);
      }
    }

    &.bg-about-me {
      background: url("/images/background-projects.webp") no-repeat center center;
      background-size: cover;

      .hero-body {
        background-color: rgba($quinary, $opacity-value);
      }
    }

    &.bg-mentorship {
      background: url("/images/background-mentorship.webp") no-repeat center center;
      background-size: cover;

      .hero-body {
        background-color: rgba($accent, $opacity-value);
      }
    }

    &.bg-posts {
      background: url("/images/background-posts.webp") no-repeat center center;
      background-size: cover;

      .hero-body {
        background-color: rgba($quaternary, $opacity-value);
      }
    }

    &.bg-projects {
      background: url("/images/background-mentorship.webp") no-repeat center center;
      background-size: cover;

      .hero-body {
        background-color: rgba($primary, $opacity-value);
      }
    }
  }
}
