@import "../settings/settings";

@import "../tools/truncate";
@import "../tools/opacity-animate";
@import "../tools/medias-queries/all";
@import "../tools/is-even";
@import "../tools/not-last";

@import "../generics/vertical-center-container";
@import "../generics/horizontal-center-container";

.timeline {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  > .hero-body {
    width: 100%;
  }

  .timeline-content {
    position: relative;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .initial-date,
    .final-date {
      font-weight: bold;
    }

    .initial-date {
      transform: rotate(270deg) scaleX(1);
      position: absolute;
      left: 0;
      top: 25%;

      @include for-tablet-portrait-and-down {
        left: -2rem;
      }
    }

    .timeline-bar {
      height: 5px;

      @include for-tablet-landscape-and-down {
        width: 85%;
      }
    }

    .final-date {
      transform: rotate(90deg) scaleX(1);
      position: absolute;
      right: 0;
      top: 30%;

      @include for-tablet-portrait-and-down {
        right: -2rem;
      }
    }

    .timeline-bar,
    .events {
      width: 90%;

      @include for-tablet-landscape-and-down {
        width: 85%;
      }
    }

    .events {
      display: flex;
      position: absolute;
      left: 4rem;
      justify-content: space-around;

      .description-hidden {
        display: none;
      }

      .event {
        flex: 1;
        height: 75px;
        width: 75px;
        border-radius: 100%;
        background: transparent;
        cursor: pointer;
        border: unset;

        .timeline-company-image {
          background: $white;
          height: 60px;
          width: 60px;
          border-width: 3px;
          border-style: solid;
          border-radius: 100%;

          transition: border 0.2s linear, width 0.2s linear, height 0.2s linear;
        }

        &:hover,
        &.is-active {
          .timeline-company-image {
            background: $white;
            border-width: 5px;
            border-style: solid;

            @include for-desktop-up {
              height: 75px;
              width: 75px;
            }
          }
        }

      }

      @include for-tablet-portrait-and-down {
        left: 1.75rem;

        .event {
          height: 50px;
          width: 50px;

          .timeline-company-image {
            background: $white;
            height: 40px;
            width: 40px;
            border-width: 2px;
            border-style: solid;
          }

          &:hover,
          &.is-active {
            .timeline-company-image {
              background: $white;
              border-width: 3px;
              border-style: solid;
            }
          }
        }
      }

      @include for-phone-only {
        left: 1.25rem;

        .event {
          height: 30px;
          width: 30px;

          .timeline-company-image {
            background: $white;
            height: 25px;
            width: 25px;
            border-width: 2px;
            border-style: solid;
          }

          &:hover,
          &.is-active {
            .timeline-company-image {
              background: $white;
              height: 30px;
              width: 30px;
              border-width: 3px;
              border-style: solid;
            }
          }
        }
      }
    }
  }

  .timeline-event-description {
    padding-top: 0.5rem;

    .card {
      background-color: $tertiary;

      .title {
        margin-bottom: 0;
        font-size: 1.7rem;
      }

      .subtitle {
        font-size: 1.2rem;
      }
    }

    &:not(.is-selected) {
      display: none;
    }
  }

  .expand-description {
    visibility: hidden;
  }

  .dropdown {
    display: none;
  }

  @include for-phone-only {
    .timeline-event-description {
      .title {
        margin-bottom: 0;
        font-size: 1rem !important;
      }

      .subtitle {
        font-size: .8rem !important;
      }
    }

    .expand-description {
      visibility: visible;
    }

    .timeline-content {
      display: none;
    }

    .dropdown {
      width: 100%;
      display: block;
      position: relative;

      &.is-active {
        .dropdown-menu {
          max-height: 100vh;

          .dropdown-content {
            max-height: 100vh;
          }
        }
      }

      .dropdown-trigger .button, .dropdown-item {
        display: flex;
        width: 100%;
        cursor: pointer;
        background: $tertiary;

        transition: background .5s;

        &:hover {
          background: $secondary;
        }

        span {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .icon {
          max-width: 1.5em;
          max-height: 1.5em;

          figure {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }

      .dropdown-item {
        border-radius: 0;
        border: unset;
        border-bottom: 1px solid $quinary;
        padding: .5rem 1rem;

        .icon {
          margin-right: .5rem;
        }
      }

      .dropdown-menu {
        position: absolute;
        z-index: 1;
        width: 100%;
        background: aliceblue;

        height: auto;
        max-height: 0vh;
        transition: max-height 0.5s;
        overflow: hidden;

        .dropdown-content {
          height: auto;
          max-height: 0vh;
          transition: max-height 0.5s;
        }
      }

      .dropdown-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }

    .timeline-event-description {
      display: flex !important;

      .card-content {
        height: auto;
        max-height: 500vh;
        min-height: 380px;
        transition: max-height 0.5s;

        .content {
          transition: max-height 0.5s;
          max-height: 500vh;
        }
      }

      &:not(.is-expanded) {
        .card-content {
          max-height: 50vh;

          .content {
            overflow: hidden;
            height: auto;
            max-height: 22vh;
            min-height: 190px;
          }
        }
      }
    }
  }

  @include dark-section {

    .timeline-title,
    .timeline-subtitle,
    .initial-date,
    .final-date {
      color: rgba($secondary, 0.75);
    }

    .timeline-bar {
      background-color: rgba($secondary, 0.75);
    }

    .timeline-company-image {
      background: $white;
      border-color: rgba($secondary, 0.75);
    }
  }

  @include light-section {
    background-color: rgba($tertiary, 0.25) !important;

    .hero-body .title {
      color: $quinary;
    }

    .timeline-title,
    .timeline-subtitle,
    .initial-date,
    .final-date {
      color: rgba($quinary, 0.75);
    }

    .timeline-bar {
      background-color: rgba($quinary, 0.75);
    }

    .timeline-company-image {
      background: $white;
      border-color: rgba($quinary, 0.75);
    }
  }
}
