{% if include.internal %}
<a
    class="images-section-item"
    href="{{include.link}}"
    data-tags="{{ include.tags  | join: "," }}"
>
{% else %}
<a
    class="images-section-item"
    href="{{include.link}}"
    target="blank"
    data-tags="{{ include.tags  | join: "," }}"
>
{% endif %}
    <img
        class="images-section-image"
        src="{{include.img | replace: "/assets/images", "/assets/images/thumbnails/small"}}"
        alt="{{include.alt}}"
        width="466"
        height="240"

    >

    <h2 class="images-section-subtitle">
        {{include.title}}
    </h2>
    <small>
      {{ include.lang | upcase }}
    </small>
</a>
