<a
  class="projects-section-item"
  href="{{include.link}}"
  target="blank"
  aria-label="This image is a link for the '{{include.alt}}' on Github."
>
  <article class="media project-card">
    <figure class="media-left">
      <p class="image is-64x64">
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/{{include.main}}/{{include.main}}-original.svg"
          alt="{{include.main}} logo"
          width="100%" height="auto"
        />
      </p>
    </figure>

    <div class="media-content">
      <div class="content">
        <p>
          <small>{{include.user}}</small>/<strong>{{include.repo}}</strong>
          <br />
          {{include.title}}
        </p>
      </div>

      <nav class="projects-tags-level level is-mobile">
        <div class="level-left">
          <div class="tags">
            {% for tech in include.techs %}
              <span class="tag">{{tech}}</i></span>
            {% endfor %}
          </div>
        </div>
      </nav>
    </div>
  </article>
</a>
