<article
  class="project-card"
  data-gh-project="{{include.user}}/{{include.repo}}"
>
  <figure class="project-card-image">
    <p class="image">
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/{{include.main}}/{{include.main}}-original.svg"
        alt="{{include.main}} logo"
        width="128"
        height="128"
      />
    </p>
  </figure>

  <div class="project-card-content">
    <header class="project-card-header">
      <p class="project-card-suptitle">
        On
        <a
          target="blank"
          href="https://github.com/{{include.user}}/{{include.repo}}{{include.extra}}"
          title="View on GitHub"
          >GitHub</a
        >
        {% if include.extra.size > 0 %}
        <small>#{{include.extra}}</small>
        {% endif %}
      </p>
      <a
        target="blank"
        href="https://github.com/{{include.user}}/{{include.repo}}{{include.extra}}"
        title="View on GitHub"
      >
        <h6 class="project-card-title">{{include.name}}</h6>
      </a>
    </header>

    <div class="project-card-body">
      <dl class="project-card-details">
        <dt>Forked</dt>
        <dd class="fork">
          <a
            target="blank"
            href="https://github.com/{{include.user}}/{{include.repo}}/fork"
            title="View fork details"
          ></a>
        </dd>
        <dt>Starred</dt>
        <dd class="star">
          <a
            target="blank"
            href="https://github.com/{{include.user}}/{{include.repo}}/stargazers "
            title="View fork details"
          ></a>
        </dd>
      </dl>
    </div>
  </div>
</article>
