@import "../settings/settings";

@import "../tools/medias-queries/all";

.hero {
  .hero-body {
    padding: 3rem;

    .subtitle a {
      text-decoration: underline;
    }

    @include for-tablet-landscape-and-down {
      padding: 3rem 1.5rem;
    }
  }

  &:not(.is-success) * {
    color: $tertiary
  }

  &.is-success *, &.is-light * {
    color: $quinary
  }

  &.is-dark {
    background-color: rgba($quinary, .85) !important;
  }
}
