@import "../settings/settings";

@import "../tools/medias-queries/all";

.hero {
  &.computer-bg {
    min-height: 55vh;

    background: url(images/background-computer.jpg) no-repeat center center;
    background-size: cover;
    display: flex;

    .hero-body {
      background-color: rgba($quinary, 0.7);

      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .hero-body {
    padding: 3rem;

    .subtitle a {
      text-decoration: underline;
    }

    @include for-tablet-landscape-and-down {
      padding: 3rem 1.5rem;
    }
  }

  &:not(.is-success) * {
    color: $tertiary;

    &.progress {
      background-color: $quinary;
    }
  }

  &.is-success *, &.is-light * {
    color: $quinary;

    &.progress {
      background-color: $tertiary;
    }
  }

  &.is-dark {
    background-color: rgba($quinary, .85) !important;
  }
}
