@import "../settings/settings";

@import "../tools/truncate";
@import "../tools/opacity-animate";
@import "../tools/medias-queries/all";
@import "../tools/is-even";
@import "../tools/not-last";

@import "../generics/vertical-center-container";
@import "../generics/horizontal-center-container";

.post {
  margin: 27px .5em;

  @include for-tablet-portrait-and-down {
    margin: 10px 0px;
  }

  .post-content {
    font-size: 1rem;

    @include for-tablet-landscape-up {
      font-weight: 500;
    }
  }

  .post-header,
  .post-content {
    margin: 1% 15% 2%;

    @include for-tablet-landscape-and-down {
      margin: 1% 5% 2%;
    }

    @include for-tablet-portrait-and-down {
      margin: 5px 15px 10px;
    }

    .title {
      color: $quinary;

      @include for-tablet-portrait-and-down {
        font-size: 1.5rem;
      }
    }

    .subtitle {
      color: rgba($senary, .75);

      @include for-tablet-portrait-and-down {
        font-size: 1rem;
      }
    }
  }

  .post-cover-image {
    max-height: 500px;
    width: 100%;

    padding: .0 10%;

    @include for-tablet-landscape-and-down {
      padding: 0% 5%;
    }

    @include for-tablet-portrait-and-down {
      padding: 0;
    }
  }
}
