.is-recommendation {
  height:auto;

  max-height: 300px;
  overflow: hidden;

  .images-section-item, .skill-item {
    height: 290px;
  }

  .skill-item {
    flex: 1;
  }

  h2.images-section-subtitle {
    font-size: 1rem;
  }
}
