@mixin opacity-animate($time, $initial, $final) {
  $animate-name: animate-opacity-#{$initial*100}-#{$final*100};

  @keyframes #{$animate-name} {
    0%   { opacity: $initial; }
    100% { opacity: $final; }
  }

  -webkit-animation: $animate-name $time ease-in;
  -moz-animation:    $animate-name $time ease-in;
  -o-animation:      $animate-name $time ease-in;
  animation:         $animate-name $time ease-in;

  opacity: $final;
}
