<section class="hero projects-section is-dark">
  <div class="hero-body">
    <h2 class="projects-section-title">Projects</h2>

    <div class="projects-section-group">
      {% assign sorted = site.projects | sort: 'date' | reverse %}

      {% for project in sorted %}
      {%
        include components/project.html
          link=project.link
          title=project.title
          user=project.user
          repo=project.repo
          alt=project.alt
          main=project.main
          techs=project.techs
      %}
      {% endfor %}
    </div>
  </div>
</section>
