<section class="hero skills-section is-dark">
  <div class="hero-body">
    <h2 class="skills-section-title">{% t skills.title %}</h2>

    {% capture skill_tree %}{% if site.lang == "en" %}{% else %}{{ site.lang | prepend: "/" }}{% endif %}{% endcapture %}

    <div class="has-text-right"><a href="{{"/skill-tree" | prepend: skill_tree }}" class="button is-primary">{% t skills.expand %}</a></div>

    <div class="skills-section-group">

      {% assign sorted = site.skills | sort: 'progress' | reverse %}

      {% for skill in sorted %}
      {%
        include components/skill.html
          name=skill.name
          progress=skill.progress
          categories=skill.categories
      %}
      {% endfor %}

    </div>
  </div>
</section>
